<!doctype html>
<html>

<head>
    <link href="../static/stylesheets/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&family=Vollkorn:ital@1&display=swap"
        rel="stylesheet">
    <title>Mirroir connecté</title>
    <script src="https://kit.fontawesome.com/d4008cf7a0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">

        <div class="container">
            <div class="news">
                <h1 style="color:#FFBB33">Dernières actualités:</h1>
                <h2>
                    Rugby : la Nouvelle-Zélande s'incline
                </h2>
                <p>
                    La mauvaise passe continue pour les All Blacks. Lors de la première journée du Rugby Championship, samedi, la Nouvelle-Zélande s'est ainsi nettement inclinée en Afrique du Sud (26-10).
                </p>
                <hr style="color:#FFBB33">
                <h2>
                    Culture : Festival de musiques du monde à Sète
                </h2>
                <p>
                    Marjorie Adelson est au Festival de musique du monde Fiest'A'Sète. Elle nous présente le musicien angolais Bonga, qui lui parle de sa longue carrière.
                </p>
            </div>

            <div class="otherInformations">
                <p>
                    <span id="datetime" style="color: #FFBB33">08/08/22 13:43</span> <br />
                    <!-- {% if data.weather == "Nuageux" %} -->
                    <!-- <i class="fas fa-cloud"></i>
                    {% else %} -->
                    <i class="fas fa-sun"></i>
                    <!-- {% endif %} -->
                    <span id="temperature">35°C</span>
                    <span id="humidity"></span>Humidité : 22% </span> <br />
                    Temps de trajet domicile-travail :<br />
                    <i class="fas fa-route"></i>
                    18 minutes
                <p>
            </div>
        </div>

        <div class="quote">
            <h1>
                Esprit moqueur, petit esprit. La moquerie est la fiente de l'esprit critique.
            </h1>
            <p>
                Pierre Reverdy
            </p>
        </div>
    </div>

</body>

</html>